@font-face{font-family:'OpenSans-Light';src:url('../fonts/OpenSans-Light-20150604.woff')}

/*Reset Css Starts*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul, li {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    text-decoration: none;
}
/*Reset Css Starts*/

/*Global Css Starts*/

a{
  color: #1E69A6;
}

/*Floats*/

.pull-left{
  float: left
}
.pull-right{
  float: right;
}
/*color*/
.color-white{
  color: #fff;
}
.color-blu{
  color: #1E69A6;
}
.color-black{
  color: #333333;
} 
.color-btn-grey{
  color: #383F46
}
/*Font sizes*/
.font7{
  font-size: 7px;
}
.font8{
  font-size: 8px;
}
.font10{
  font-size: 10px;
}
.font12{
  font-size: 12px;
}
.font14{
  font-size: 14px;
}
.font20{
  font-size: 20px;
}
.font35{
  font-size: 35px;
}
.font-bold{
  font-weight: bold;
}
/*Grid*/
.row{
  display: flex
}
.col-12{
  width:98%;
  padding: 0 5px;
}
.col-10{
  width:80%;
}
.col-2{
  width:20%
}
.col-4{
      width: 31.5%;
    padding: 0 5px;
    float: left;
}
.clear-fix{
  clear: both;
  float: none;
}
.w98{
  width: 98%;
}
/*Margin*/
.marginTop10{
  margin-top: 10px;
}
/*Padding*/
.padd10{
  padding: 10px;
}
.paddTopBtm5{
  padding: 5px 0; 
}
.paddBtm5{
  padding-bottom: 5px;
}
.paddR15{
  padding-right: 15px;
}
.padd0{
  padding: 0;
}
.paddTopBtm2{
  padding: 2px 0;
}
.padd2-3{
  padding: 3px 2px;
}
.padd5{
   padding: 5px;
}
/*Aligment*/
.v-align-mid{
  vertical-align: middle;
}
.v-align-sub{
  vertical-align: sub;
}
.v-align-btm{
  vertical-align: bottom;
}
.text-right{
  text-align: right;
}
.text-left{
  text-align: left;
}
.text-center{
  text-align: center;
}


/*Flex Box*/
.flex-wrap{
  flex-wrap: wrap;
}
.flex-basis100{
  flex-basis: 100%;
}
.inline-flex{
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.flex-2{
  flex: 2
}
.block-ele{
  display: block;
}
.inline-block-ele{
  display: inline-block;
}
.border-right{
  border-right: 1px solid #ccc;
}
.border-btm{
  border-bottom: 1px solid #ccc;
}
.pos-rel{
  position: relative;
}
.pos-abs{
  position: absolute;
}

button,a{
  cursor: pointer
}


input, textarea, select{
  border-radius: 6px;
  border: 1px solid #ccc;
  box-shadow: none;
}
.field-required{
  color: #CA202C;
}
.btn-default{
    color: #FFF;
    background-color: #1E69A6;
    border-radius: 6px;
    padding: 5px 10px;
}
.btn-default.btn-red{
  background:linear-gradient(to bottom, #E05932 1px, #C84f2E 100%);
}
.btn-default:hover, .btn-default:focus{
    background-image: linear-gradient(to bottom, #318ed9 1px, #247fc9 100%);
    text-shadow: 1px 1px #1E69A6;
}
.btn-default.btn-red:hover{
  background-image: linear-gradient(to bottom, #e57655 1px, #d5674a 100%);
    text-shadow: 1px 1px #C84f2E;
}
.btn-dd-style{
      color: #1E69A6;
}
.btn-dd-style:hover{
  text-decoration: underline;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    color: #f9fbfd;
    background-color: #c0d5e6;
    border-color: #a7c9e5;
    background-image: none;
    text-shadow: 0 0 transparent;
    cursor: default;
    opacity: 1;
}
.cmn-ul li{
  display: inline-block
}
/*Global Css Ends*/


body {
  background: #000;
  font-family: "Helvetica Neue", Helvetica, 'OpenSans-Light', 'Segoe UI', Arial, sans-serif;
}

.laptop {
  position: absolute;
  width: 800px;
  right: 0;
  top: 0;
}

@media screen and (max-width: 1350px) {
  .laptop {
    width: 600px;
  }
}

#screen {
  top: 113px;
  position: absolute;
  right: 0;
  z-index: 3;
  width: 590px;
  height: 394px;
  color: #000;
  background: #fff;
  -webkit-transform: matrix3d(1, 0, 0, -0.00001, 0, 1, 0, 0, 0, 0, 1, 0, -112, -58, 0, 1);
          transform: matrix3d(1, 0, 0, -0.00001, 0, 1, 0, 0, 0, 0, 1, 0, -112, -58, 0, 1);
          overflow: auto;
}

@media screen and (max-width: 1350px) {
  #screen {
    -webkit-transform: matrix3d(0.752, 0, 0, 0, 0, 0.752, 0, 0, 0, 0, 1, 0, -10, -41, 0, 1);
            transform: matrix3d(0.752, 0, 0, 0, 0, 0.752, 0, 0, 0, 0, 1, 0, -10, -41, 0, 1);
  }
}
ul{
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=main.css.map */
.logomark-sap{
  background: transparent url(../img/SAP-Logo.png) no-repeat;
  display: inline-block;
  height: 40px;
  width: 121px;
  background-size: contain;
}
.logomark-concur{
  background: transparent url(../img/logo-SAPConcur-white.svg) no-repeat;
  display: inline-block;
  height: 23px;
  width: 160px;
  background-size: contain;
  background-position: right;
}
.font-family-opensans{
  font-family: 'OpenSans-Light';
}
button{
  border: 0;
  background: transparent;
  padding: 0;
}


/*Header Starts*/
.screen__inner img{
  width: 100%;
  height: 100%;
}

.navbar-primary{
  background: #383f46;
  padding: 2px 10px 0;
}
.navbar-container .logo-container{
  width:15%;
  border-right: 1px solid #fff;
}
.navbar-container ul li{
  display: inline-flex;
}
.navbar-container ul li a, .navbar-container ul li{
  color: #fff;
}
.navbar-container ul li a:hover, .navbar-container__right-nav__bottom li:hover, .navbar-container__right-nav__top li:hover{
  background: linear-gradient(to bottom, #209cff 0, #1e69a6 100%)
}
.navbar-container__right-nav__top {
  padding: 2px 0;
  background-image: linear-gradient(to right, #383f46 0%, #333333 100%);
}
.navbar-container__right-nav__top li{
  padding: 2px 3px;

}
i{
  padding-left: 3px;
}
.navbar-container__right-nav__bottom{
  padding: 1px 2px 0px 0;
}
.navbar-container__right-nav__bottom li,.navbar-container__right-nav__top li{
  cursor: pointer;
}
.navbar-container__right-nav__bottom .profile-info{
      padding: 3px 4px 0px 4px;
}
/*Secondary Header*/
.secondary-header__maincontent{
  width:93%;
  padding: 5px 10px;
  margin: 0 auto;
  background: #fff;
}
.secondary-header{
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(top, #383f46 50%, #f9f9f9 50%);
  background-image: -moz-linear-gradient(top, #383f46 50%, #f9f9f9 50%);
  background-image: -ms-linear-gradient(top, #383f46 50%, #f9f9f9 50%);
  background-image: -o-linear-gradient(top, #383f46 50%, #f9f9f9 50%);
  /* background-image: linear-gradient(to bottom, #383f46 50%, #f9f9f9 50%); */
  -webkit-box-shadow: 0 8px 6px -6px #d2d2d2;
  -moz-box-shadow: 0 8px 6px -6px #d2d2d2;
       box-shadow: 0 8px 6px -6px #d2d2d2;
}
.secondary-header__logo-container{
  padding: 5px 0;
}
.navbar-container .secondary-header__left-nav li, .secondary-header__right-nav li span{
  color: #000;
}

.secondary-header__right-nav span i{
  display: block;
}
.secondary-header__right-nav li{
  border-left: 1px solid #ccc;
}
.secondary-header__right-nav li a{
  width: 48px;
  padding: 10px;
  color: #000;
}
.navbar-container .secondary-header__right-nav ul li a:hover{
    background: #ebf7ff;
    color: #333333;
}
/*Main content*/
.main-content{
  width:95%;
  padding: 5px 10px;
  margin: 15px auto 30px auto;
}

/*Task Container*/
.task-container{
  margin-top:12px;
}
.task-container__content{
  border: 1px solid #ccc;
  flex: 3;
  padding: 3px;
  margin-right: 7px;
}
.task-container__content:last-child{
  margin-right: 0px;
}
.task-container__head{
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}
.task-container__head a{
  width: 100%;
    vertical-align: super;
}
.task-container__head a:hover{
      color: #2379bf;
}
.task-container__head a i{
  right: 5px;
  top: 2px;
}
.task-number{
  background: #1e69a6;
  font-weight: 500;
  padding: 10px;
  color:#fff;
  margin-top: -13px;
  display: inline-block;
}

.task-container__main__sub{
  padding: 5px 0;
}
.no-queue{
  height: 75%;
}
.no-queue__content{
  width: 100%;
    margin-top: 15px;
}
.no-queue__content i{
  color: #ccc;
}

/*Footer Container*/
.footer{
  background: #383f46;
  padding: 10px;
}
.footer__top div, .footer__bottom .row div{
  flex: 2;
}
.footer ul li{
  list-style: none;
  padding: 3px 0;
}
.footer ul li a{
  color: #e2e3e3;
  text-decoration: underline;
}
.footer ul li a:hover{
  color: #fff;
}
.copyright-text{
  padding: 3px 0;
}



/*Form Modal Starts*/
.create-report__modal{
  padding: 0 5px;
}
.modal-title{
  padding: 10px 0;
  border-bottom: 1px solid #72777B;
}
.create-report__data{
  padding: 10px 0;
}
.create-report__data input,.create-report__data textarea,.create-report__data select {
  width: 100%;      
  padding: 4px 0;
}
.form-group-lg label, .control-label-lg {
    line-height: 18px;
    margin-bottom: 4px;
}
.icon-calendar{
  padding: 1px 5px 3px 2px;
  border: 1px solid #ccc;
  border-right: none;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.form-group .calendar-container input{
  width: 86%;
  border-radius: 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.btn.btn-link.cnqr-muted {
    color: #383F46;
    background-color: transparent;
    border-color: transparent;
}
.modal-footer{
  margin-top:120px;
  border-top: 1px solid #72777B;
  padding: 10px 0;
}
.comment-section{
  margin-top: 15px;
}
.create-report__data textarea{
  height: 20px;
}
.create-report__data .comment-section textarea{
  height: 37px;
}
/*Form Modal Ends*/

/*Manage Expenses Starts*/
.navbar-container  .navbar__manage-expense li a{
  color: #333;
}
.navbar__manage-expense ul{
  width: 100%;
  background: transparent url(../img/navbar-shadow.png) repeat-x bottom
}
.navbar__manage-expense li.active a{
  background: transparent url(../img/navbar-pointer.png) no-repeat bottom center;
  background-size: 12px;
}
.navbar-container  .navbar__manage-expense li a:hover{
    color: #FFF;
    background: #999CA0
}
.navbar-container .navbar__manage-expense li.active a:hover{
  color: #333;
  background: transparent;
  background: transparent url(../img/navbar-pointer.png) no-repeat bottom center;
  background-size: 12px;
}
.manage-expense-container, .dinner-container{
  padding: 10px;
}
.manage-expense-container .row div{
  flex: 2;
}
.manage-expense__toolbar{
  margin-top:7px;
}
.manage-expense__toolbar ul li{
    display: inline-flex
}
.manage-expense__crud{
    background-color: #E2E3E3;
    margin: 5px 0;
}
.manage-expense__details__head{
  padding: 5px 0;
  border-bottom: 1px solid #999CA0;
}
.manage-expense__details__body.empty{
  padding: 31.5px 0;
  border-bottom: 1px solid #999CA0;
}
.manage-expense__details thead tr,.manage-expense__details tbody tr.total{
  border-bottom: 1px solid #999CA0;
}
.manage-expense__details tbody tr{
  border-bottom: 1px solid #E2E3E3;
}
.manage-expense__details tbody tr.total{
  border-top: 2px solid #999CA0;
}
.manage-expense__details td{
  vertical-align: middle;
}
.manage-expense__details tbody td:nth-child(3){
  width: 100px;
}
.manage-expense__details tbody td:nth-child(4),.manage-expense__details tbody td:nth-child(5){
  width: 130px;
}
td.img-container{
  width:20px;
  height:20px;
}
.attendees-container .manage-expense__details tbody td:first-child{
  width: 20px;
}
.attendees-container .manage-expense__details tbody td:nth-child(4),.attendees-container .manage-expense__details tbody td:nth-child(2){
  width: 109px;
}
.attendees-container .manage-expense__details tbody td:nth-child(6){
width: 80px;
}
/*Manage Expenses Ends*/

/*Add Overlay Starts*/ 
  .overlay{
    background: #000;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
  }
  .overlay__content{
    position: absolute;
    background: #fff;
    width: 52%;
    padding: 7px;
    top: 58px;
    left: 129px;
  }
  .overlay__content .modal-title{
    border: none;
    
  }
  .overlay__body ul, .common-tab-nav ul{
    border-bottom: 1px solid #C0C2C4;
  }
  .overlay__body li, .common-tab-nav li{
    display: inline-flex;
    margin-bottom: -1px;
    border-right: 1px solid #C0C2C4;
    border-top: 2px solid transparent;
    border-bottom:  1px solid #C0C2C4;
  }
  .overlay__body li:first-child, .common-tab-nav li:first-child{
    border-left: 1px solid #C0C2C4;
  }
   .overlay__body li.active, .common-tab-nav li.active{
      border-top: 2px solid #1E69A6;
      border-bottom: 1px solid #fff;
   }
  .overlay__body li a, .common-tab-nav li a{
    padding: 10px;
    background-color: #F9F9F9;
    border-top: 1px solid #C0C2C4;
  }
  .overlay__body li.active a, .common-tab-nav li.active a{
    color: #333;
    background: #fff;
  }
  th,td{
    padding: 4px;
  }
  .tab-content{
    border: 1px solid #C0C2C4;
    border-top:none;
  }
  .tab-content__data  tr{
    border-bottom: 1px solid #999CA0;
  }
  .tab-footer{
    margin-top:20px;
  }
  .attendees-container .overlay__content{
    width: 85%;
    left: 50px;
  }
/*Add Overlay Ends*/ 

/*Create Attendee Starts*/
  .create_attendee__type .form-group select{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-top: 5px;
    padding-bottom: 3px;
    width: 20%
  }
  .create_attendee__type .form-group  input{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-left: 0;
    width: 78%;
  }
  .create_attendee__create .form-group  input{
    margin-left: 2px;
    margin-right: 5px;
    width: 34%;
  }
/*Create Attendee Ends*/

/*Dinner Page Starts*/
.form-group input{
width: 95%;
}
 .form-group select{
  width: 100%;
}
.list-line li{
  border-right: 1px solid #383F46;
}
.list-line li:last-child{
  border-right: none;
}
.list-line li a:hover{
  text-decoration: underline;
}
.list-line li{
  margin-right: 5px;
}
.page-nav a{
    border: 1px solid #C0C2C4;
    border-radius: 15px;
    display: inline-block;
    padding: 4px 7px; 
    margin-right: 10px;
}
.page-nav a:hover{
  text-decoration: none;
    background-color: #ebf7ff;
}
.page-nav a.disabled{
  color: #C0C2C4;
    background-color: #FFF;
    cursor: not-allowed;
}
.page-nav a.disabled:hover{
  background-color: #fff;
}
.page-nav h1{
  line-height: 27px;
}
.common-combo-box.right input{
   border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.common-combo-box.left input{
   border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.common-combo-box.left.sm input,.common-combo-box.right.sm input{
  width: 79%;
}
.common-combo-box input{
  width: 90%; 
}
.dinner-container .tab-content .flex-2{
      padding: 0 5px;
}
.common-combo-box button{
  border: 1px solid #ccc;
  padding: 3px;
}
.common-combo-box.right button{
      border-left: 0;
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
}
.common-combo-box.left button{
      border-right: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
}
.form-group .formfield-checkbox{
  width:auto
}
.display-area__nav ul{
  background: #383F46;
}
.display-area__nav ul li{
  margin: 0 5px;
}
.display-area__nav a[disabled]{
      cursor: default;
    color: #72777B;
}
.display-area__nav a[disabled]:hover{
  color: #72777B;
}
.display-area__nav a{
      color: #C0C2C4;
    text-decoration: none;
}
.display-area__nav a:hover{
  color: #FFF;
}
.receipt-area{
      background: #000;
          padding: 0 10px;
}
.btn-area button{
      color: #C0C2C4;
      width: 49%;
      padding: 4px;
      display: inline-block;
}
.btn-area button:first-child{
  border-right: 1px solid #ccc;
}
.btn-area button:hover {
    color: #FFF;
    text-decoration: underline;
    }
.btn-area{
  background: #383F46;
}
.timeline-report{
  padding: 0 3px;
}
.timeline-report-link{
  padding: 10px 0;
  border-top: 1px solid #72777b;
  border-bottom: 1px solid #72777b
} 
/*Dinner Page Ends*/